{% load static %}
{% load crispy_forms_tags %}
<div class="container" style="justify-content: center; align-items:center;">
    <h3>Register here</h3>
<hr>

<form action="" method="POST">
    {% csrf_token %}
    <div class="card-body mb-3 mr-3 ml-3" style="height: 30%">
        <p class="text-center">Sign up to see photos and videos from your friends.
        </p>
        <form action="" method="post" novalidate class="reg">
            {% csrf_token%}
            {{ form|crispy}}
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm mt-3"> Sign up</button>
            </div>
    
        </form>
    </div>
   